.cuiWindow {
    position: absolute;
    width: 800px;
    min-height: 500px;
    left: 180px;
    top: 270px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
    font-family: cui1;
}

.cuiHeader {
    cursor: move;
    height: 25px;
    background-color: #555755;
    border-bottom: 1px solid #e0dede;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.cuiHeaderRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cuiSection {
    border-top: 1px solid black;
}

.cuiButton {
    border: none;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #A4A4A4;
    color: black;
    font-weight: 800;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
}


.cuiButton:active {
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, 
    -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede,  
    2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 
    4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.masterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: black;
}

.masterGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 15px;
    border-top: 2px solid black;
    padding: 5px
}

.masterHeader {
    display: flex;
    flex-direction: row;
    background-color: #555755;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #e0dede;
    border-top: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
}

.cuiHeaderButton {
    border: none;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #A4A4A4;
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border: 2px solid black;
}

.cuiHeaderButton:hover {
    background-color: #818181;
    box-shadow: -1px -1px 1px black;
}

.cuiHeaderButton:active {
    background-color: #e0dede;
    box-shadow: -1px -1px 1px black inset;
}

.cuiLink {
    font-family: cui2;
    background-color: #e0dede;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 2px solid #818181;
    font-weight: 800;
    min-width: 140px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.cuiLink ul {
    width: 95%;
    padding: 0;
    margin: 0;
    border: 2px solid #818181;
}

.listItem {
    background-color: #555755;
    color: white;
    font-family: cui1;
    list-style: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 96%;
    text-align: left;
    padding-left: 5px;
      
}

.zoologyGrid {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 5px;
    border-top: 2px solid black;
    width: 100%;
}

.cuiDropDownContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 15px;
    background-color: #e0dede;
    border: 2px solid #818181;
    padding: 5px;
    margin: 5px;
    padding-left: 5px;
    min-height: 400px;
    width: 400px;
}

.cuiDropDownListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #555755;
    color: white;
    font-family: cui1;
    list-style: none;
    border: 1px solid black;
    min-width: 390px;
    text-align: left;
    gap: 10px;
    width: 100%;

}

.cuiDropDownLink {
    cursor: pointer;
    font-family: cui3;
    margin: 0;
    padding: 0;
    font-size: 18px;
    border: 1px solid #e0dede;
    background-color: #A4A4A4;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 26px;
    min-width: 90px;
}

.cuiDropDownButton {
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    font-family: cui3;
    margin: 0;
    padding: 0;
    font-size: 18px;
    border: 1px solid black;
    background-color: #A4A4A4;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 26px;
    min-width: 90px;
}

.cuiDropDownButton:active {
    background-color: #818181;
}

.cuiDropDownButtonContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.cuiDropDownLink:active {
    background-color: #818181;
}

.cuiDropDownButtonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cuiDropDownTitle {
    width: 300px;
    padding-left:5px;
}

.cuiDropDownAccordian {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    width: 690px;
}

.cuiDropDownContent {
    display: flex;
    width: 100%;
    background-color: #e0dede;
    flex-direction: column;
    border: 1px solid #555755
}

.cuiDropDownTitleContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cuiDropDownContentDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
    gap: 5px;
}

.cuiDropDownContentDiv p{
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: baseline;
    margin: 0;
    padding: 0;
}

.cuiFormTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: cui3;
    border-bottom: 1px solid black;
    background-color: #555755;
    color: white;
}

.zoologyLinkContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 320px;
    margin: 5px;
}

.animalListGrid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    min-width: 99%;
    border-top: 2px solid black;
    padding: 5px;
    padding-left: 5px;
}

.animalListTitle {
    font-family: cui2;
    font-size: 20px;
    width: 99%;   
}

.animalListContainer {
    background-color: #e0dede;
    min-width: 95%;
    margin-left: 10px;
}

.animalImprintContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    color: white;
    background-color: #555755;
    
}

.animalImprintContainer div {
    gap: 10px;
}

.animalImprintButton {
    font-weight: 700;
    border: 1px solid black;
    background-color: #e0dede;
    color: black;
    height: 30px;
    margin-left: 5px;
    min-width: 80px;
}

.animalImprintButton:active {
    background-color: #555755;
    color: white;
}

.animalListField {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.animalListFieldHidden {
    display: none;
}

.animallistItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:200px;
}

.maintenanceGrid, .vehicleGrid, .storageGrid, .inventoryGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 25px;
    min-width: 97%;
    max-height: 490px;
    border-top: 2px solid black;
    padding: 5px;
    padding-top: 10px;
    padding-left: 18px;
    overflow: scroll;
}

#vehicleMakeForm {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-around;
}

.vehicleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    color: black;
    background-color: #e0dede;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-width: 95%;
}

.vehicleHeader {
    background-color: #555755;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    min-width: 100%
}

.vehicleListField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.vehicleForm, .newInventoryForm, .inventoryForm {
    background-color: #e0dede;
    color: black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    border: 1px solid black;
    max-width: 100%;
    font-size: 16px;
}

.findFormContainer {
    width: 100%;
}

.findInput {
    width: 150px;
    margin-left: 50px;
}

.findInventoryForm {
    background-color: #e0dede;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    max-width: 100%;
    font-size: 16px;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cuiFormSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
    gap: 10px;
    padding: 5px;
}

.cuiFormSubSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    max-width: 300px;
}

.cuiSubLabel {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuiSubLabel input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;  
    padding: 1px;
    background-clip:content-box;
    border: 1px solid black;
    border-radius: 0;
    margin: 0;
    background-color: white;
}

.cuiSubLabel input:checked {
    background-color: #555755;
}

.serviceWork {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
