.elecContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elecGrid, .elecContainer header, .mainElecBox, .smallElecBox, .smallElecDash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
}

.elecContainer header {
    cursor: pointer;
    border: 2px solid #aaa;
    padding: .3rem;
    width: 23rem;
    margin-bottom: 10px;
}

.mainElecBox {
    cursor: pointer;
    border: 2px solid #aaa;
    padding: 2px;
    width:  120px;
    height: 48px;
    font-size: 19px;
}

.smallElecBox {
    cursor: pointer;
    border: 2px solid #aaa;
    padding: 2px;
    width: 120px;
    height: 18px;
}

.smallElecDash {
    cursor: pointer;
    border: 2px solid #aaa;
    border-bottom: 1px dashed #aaa;
    padding: 2px;
    width: 120px;
    height: 18px;
}

#sg8 {
    border-top: 1px dashed #aaa;
    border-bottom: 2px solid #aaa;
}

.mainElecRow, .secondElecRow, .thirdElecRow, .forthElecRow, .fifthElecRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 600px;
    row-gap: 5px;
}

.subGrid1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 275px;
    gap: 10px;
    row-gap: 5px;
}

.subGrid2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 5px;
    margin-left: 1px;
}

.subGrid3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 5px;
}

.mainElecRow{
    margin-bottom: 8px;
}

.mainElecBox:hover, .smallElecDash:hover, .smallElecBox:hover, .elecContainer header:hover {
    background-color: black;
    color: white
}

#main1::before, #main2::before, #main3::before, #main4::before  {
    content: '';
    position: absolute;
    top: 120px;
    width: 4px;
    height: 15px;
    background-color: #aaa;
    transform: translateY(90%);
}

.m1line::before {
    content: '';
    position: absolute;
    top: 103px;
    width: 20px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(-50%);
}

.mainElecRow::before {
    content: '';
    position: absolute;
    top: 103px;
    left: 248px;
    width: 13px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(-100%);
}

.elecGrid::before {
    content: '';
    position: absolute;
    top: 103px;
    left: 534px;
    width: 13px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(-100%);
}

.hline2::before {
    content: '';
    position: absolute;
    top: 88px;
    left: 534px;
    width: 13px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(-100%);
}

.hline3::before {
    content: '';
    position: absolute;
    top: 119px;
    left: 534px;
    width: 13px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(-100%);
}

#second1::before {
    content: '';
    position: absolute;
    top: 201px;
    left: 173px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(-50%);
}

#second2::before {
    content: '';
    position: absolute;
    top: 201px;
    left: 305px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

#second3::before {
    content: '';
    position: absolute;
    top: 232px;
    left: 175px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

#second4::before {
    content: '';
    position: absolute;
    top: 201px;
    left: 591px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

.thirdElecRow::before{
    content: '';
    position: absolute;
    top: 232px;
    left: 158px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

#third1::before {
    content: '';
    position: absolute;
    top: 325px;
    left: 112px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

#third2::before {
    content: '';
    position: absolute;
    top: 355px;
    left: 113px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

.t1line::before {
    content: '';
    position: absolute;
    top: 232px;
    left: 591px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%);
}

.t2line::before {
    content: '';
    position: absolute;
    top: 296px;
    left: 652px;
    width: 8px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%);
}

.forthElecRow::before {
    content: '';
    position: absolute;
    top: 296px;
    left: 663px;
    width: 4px;
    height: 144px;
    background-color: #aaa;
    transform: translateX(92%);
}

.f1line::before {
    content: '';
    position: absolute;
    top: 106px;
    left: 382px;
    width: 4px;
    height: 258px;
    background-color: #aaa;
    transform: translateX(92%);
}

#fl1::before {
    content: '';
    position: absolute;
    top: 386px;
    left: 112px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%)
}

#fl2::before {
    content: '';
    position: absolute;
    top: 282px;
    left: 361px;
    width: 13px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%)
}

#fl3::before {
    content: '';
    position: absolute;
    top: 309px;
    left: 366px;
    width: 8px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%)
}

#fl4::before {
    content: '';
    position: absolute;
    top: 325px;
    left: 302px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%)
}

.fifthElecRow::before  {
    content: '';
    position: absolute;
    top: 355px;
    left: 302px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%)
}

.subGrid1::before {
    content: '';
    position: absolute;
    top: 373px;
    left: 223px;
    width: 12px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

.subGrid2::before {
    content: '';
    position: absolute;
    top: 440px;
    left: 223px;
    width: 12px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

.subGrid3::before {
    content: '';
    position: absolute;
    top: 418px;
    left: 223px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg1::before {
    content: '';
    position: absolute;
    top: 324px;
    left: 453px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg2::before {
    content: '';
    position: absolute;
    top: 385px;
    left: 453px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg3::before {
    content: '';
    position: absolute;
    top: 324px;
    left: 539px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg4::before {
    content: '';
    position: absolute;
    top: 356px;
    left: 539px;
    width: 4px;
    height: 8px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg5::before {
    content: '';
    position: absolute;
    top: 343px;
    left: 510px;
    width: 12px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg6::before {
    content: '';
    position: absolute;
    top: 371px;
    left: 510px;
    width: 12px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg7::before {
    content: '';
    position: absolute;
    top: 360px;
    left: 382px;
    width: 9px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(50%) 
}

#sg8::before {
    content: '';
    position: absolute;
    top: 403px;
    left: 650px;
    width: 10px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg9::before {
    content: '';
    position: absolute;
    top: 436px;
    left: 650px;
    width: 10px;
    height: 4px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg10::before {
    content: '';
    position: absolute;
    top: 418px;
    left: 244px;
    width: 2px;
    height: 6px;
    background-color: #aaa;
    transform: translateX(92%) 
}

#sg11::before {
    content: '';
    position: absolute;
    top: 418px;
    left: 370px;
    width: 2px;
    height: 6px;
    background-color: #aaa;
    transform: translateX(92%) 
}