
.ItemTags {
    display: flex;
    font-size: 12px;
    align-self: center;
}

.tagMap {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.tagInput {
    width: 70px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}