
.mapContainer {
    display: flex;
    flex-direction: column;
    background-color: #0055AA;
    color: #ffff;
    font-size: 18px;
    font-family: standard2;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
}

.mapHeader {
    background-color: #e0dede;
    color: black;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border-bottom: 2px solid black;
}

.mapButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapClose, .mapMinimize {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 15px;
    margin-bottom: 2px;
    margin-right: -2px;
    border: 1px solid #818181;
}


.mapClose:active, .mapMinimize:active {
    border: 1px solid black;
}

.mapContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 15rem;
   
}

.mapControls {
    width:  10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mapView {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.viewMode {
    font-family: standard2;
    font-size: 18px;
    color: black;
    background-color: #A4A4A4;
    width: 100px;
    padding: 5px;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
    border: none;
}

.viewMode:active {
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, 
                -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede,  
                2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 
                4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.displayZone {
    color:white;
    display: block;
    width: 100px;
    height: 50px;
    background-color: black;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
}

#img-mapper {
    margin: 0;
    padding:0;
    box-shadow: -2px -2px #e0dede, 1px 0 #e0dede, -2px -2px #e0dede, -4px 0 white, 2px 2px #818181, 
                -4px 2px #818181, 2px 0 #818181, -2px 2px #818181, -4px 2px white, 
                -4px 4px black, 4px 4px black, 4px 0 black, 0px -3px black, 0 4px black;
}