.popUp {
    z-index: 1;
    font-size: 18px;
    font-family: standard2;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
}

.closePopup {
    display: none;
}

.popupHeader {
    background-color: #e0dede;
    color: black;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border-bottom: 2px solid black;
}

.popupClose {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 15px;
    margin-bottom: 2px;
    margin-right: -2px;
    border: 1px solid #818181;
}


.popupClose:active {
    border: 1px solid black;
}

.messageContainer, .infoContainer {
    min-height: 10rem;
    background-color: #0055AA;
    color: #ffff;
    padding: 5px;
}

.messageContainer {
    width: 24rem;
}

.infoContainer {
    width: 30rem;
}

.infoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    font-size: 20px;
}

.messageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 15px;
    font-size: 20px;
}

.messageContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.messageGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid1, .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end
}

.messageCell {
    width: 120px;
}

.messageCell1 {
    width: 50px;
}

.messageInput {
    font-family: standard2;
    font-size: 18px;
}

.messageInput:focus {
    outline: none
}

.messageSubmit {
    display: none;
}