.cuiReportGrid {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 490px;
    
}

.cuiReportContainer {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    overflow-y: scroll;
}

.cuiReportTitle {
    width: 96%;
    font-family: cui3;
    border-bottom: 1px solid black;
    background-color: #555755;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.cuiColumnHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25px;
    width: 125px;
    border: 1px solid black;
    padding-left: 3px;
}

.cuiReportItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    max-width: 200px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.cuiReportDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4px;
    width: 100%;
    min-height: 25px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

#cuiReportNameDiv {
    min-height: 50px;
}

.cuiReportHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cuiReportHistorydiv {
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    width: 200px;
    height: 50px;
    flex-wrap: wrap;
    border: 1px solid black;
}

#orderHistoryHeader {
    height: 50px;
}

.cuiReportHistorydiv p {
    padding: 0;
    margin: 0;
}

.cuiReportOptionsContainer {
    background-color: #e0dede;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    width: 700px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cuiReportOptionsTitle {
    width: 100%;
    font-family: cui3;
    border-bottom: 1px solid black;
    background-color: #555755;
    color: white;
}

.cuiReportOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cuiReportOptionsButton, .cuiReportEditButton {
    cursor: pointer;
    font-family: cui3;
    margin: 0;
    padding: 0;
    font-size: 18px;
    border: 1px solid black;
    background-color: #A4A4A4;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 26px;
    min-width: 90px;
}

.cuiReportOptionsButton:active, .cuiReportEditButton:active {
    background-color: #818181;
}

.cuiReportEditFieldsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 680px;
    gap: 5px;
}

.cuiReportLabel {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 120px;
    padding: 2px;
    padding-bottom: 4px;
    background-color: white;
}

.cuiConnoteLabel {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    min-height: 110px;
    padding: 2px;
    padding-bottom: 4px;
    background-color: white;
    margin-top: 10px;
    gap: 5px;
}

.reportNotesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    min-width: 98%;
    gap: 10px;
}

.cuiConnoteLabel input {
    background-color: #e0dede;
}

.cuiConnoteLabel textarea {
    background-color: #e0dede;
}

.reportCheckInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    font-family: cui3;
    font-size: 18px;
    border: 1px solid black;
    background-color: #A4A4A4;
    color: black;
}

.reportCheckInput::before {
    content: "REMOVE";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 26px;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.reportCheckInput:checked::before {
    content: "SELECT";
    background-color: #818181;
  }