.cleaningSectionBody {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    height: 560px;
    width: 780px;
    overflow-y: scroll;
}

.cleaningReportSection {
    width: 750px;
}

.resortGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: cui3;
    font-size: 16px;
    background-color: #e0dede;
    border: 1px solid black;
    width: 750px;
}

.resortTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    font-family: cui3;
    border: 1px solid black;
    background-color: #555755;
    color: white;
}

.resortTitleText {
    margin-left: 10px;
}

.resortToggleButton {
    cursor: pointer;
    font-family: cui3;
    margin: 0;
    padding: 0;
    font-size: 17px;
    border: 1px solid black;
    background-color: #A4A4A4;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 20px;
    min-width: 60px;
}

.roomItemContainer, .roomItemContainerVacant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    align-self: start;
    width: 120px;
    height: 120px;
    background-color: white;
}

.roomItemContainer {
    border: 1px solid red;
}

.roomCleanContainer, .roomCleanContainerVacant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    align-self: start;
    width: 120px;
    height: 120px;
    background-color: white;
}

.roomCleanContainer {
    border: 1px solid red;
}

.roomCleanContainerExpand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    align-self: start;
    width: 120px;
    height: 240px;
    background-color: white;
}

.roomItemFields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.roomCleaningFields {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
    height: 100%;
}

.roomItem {
    margin-left: 3px;    
    min-height: 25px;
}

.roomUpdateButton, .activeRoomButton {
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-family: cui3;
    margin: 0;
    padding: 0;
    font-size: 16px;
    border: 1px solid black;
    background-color: #A4A4A4;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 20px;
    min-width: 60px;
    margin-bottom: 5px;
}

.roomUpdateButton:active, .activeRoomButton {
    background-color: #555755;
    color: white;
}

.bookingFormContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 5px;
    gap: 5px;
    width: 750px;
}

.bookingFormTitle {
    font-family: cui3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555755;
    color: white;
    width: 100%;
}

.bookingFormTitleItem {
    margin-left: 10px;;
}

.bookingFormStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bookingFormCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 300px;
}

.bookingFormSelection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.roomCleaningEditForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 5px;
    gap: 5px;
    margin-bottom: 5px;
    
}

.cleaningFormTitle {
    width: 100%;
    font-size: 13px;
    font-family: cui3;
    border-bottom: 1px solid black;
    background-color: #555755;
    color: white;
}

.cleaningInventorySection {
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: #e0dede;
}