.startupWindow {
    font-family: standard2;
    background-color: #000099;
    border: 1px solid black;
    width: 60rem;
    padding: 1rem;
    font-size: 18px;
    color: #ffffff;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
}

.headGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 10px;
}

.headCard {
    border: 2px solid #aaa;
    padding: .2rem;
    width: 5rem;
    cursor: pointer;
}

.subGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridCell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    padding: .2rem;
    width: 5rem;
    margin: .2rem;
}

.gridCell:hover, .headCard:hover {
    background-color: black;
    color: white
}