.startupWindow {
    
    font-size: 20px;
}

.startupWindow header {
    border: 2px solid #aaa;
    padding: .3rem;
}

.gridCell, .headCard1, .headCard2 {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    padding-left: .3rem;
    padding-right: .3rem;
    width: 6rem;
    height: 4rem;
    margin: .2rem;
}

.headGrid {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    padding-bottom: 5px;
}

.AB0 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dotted #aaa;
    width: 19.4rem;
    margin-right: 2px;
}

.headCard1 {
    margin-left: 107px;
    margin-bottom: 5px;
}

.headCard2 {
    margin-bottom: 5px;
}

.CND {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dotted #aaa;
    width: 13rem;
    margin-right: 1px;
}

.headCard1::before, .headCard2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 3px;
    height: .65rem;
    background-color: #aaa;
    transform: translateY(105%);
}

.AB0::before {
    font-size: 9px;
    content: '.........................................................';
    position: absolute;
    top: 100px;
    width: 180px;
    transform: translateX(105%);
}

.subGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridCell:hover, .headCard1:hover, .headCard2:hover {
    background-color: black;
    color: white
}

.gridCell::before {
    content: '';
    position: absolute;
    top: 0;
    width: 3px;
    height: .6rem;
    background-color: #aaa;
    transform: translateY(-105%);
}