.vehicleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    color: black;
    background-color: #e0dede;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-width: 95%;
}

.vehicleHeader {
    background-color: #555755;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    min-width: 100%
}

.vehicleListField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.vehicleForm {
    background-color: #e0dede;
    color: black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    border: 1px solid black;
    max-width: 100%;
    font-size: 16px;
}

.cuiFormSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
    gap: 10px;
    padding: 5px;
}

.cuiFormSubSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    max-width: 300px;
}

.cuiSubLabel {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuiSubLabel input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;  
    padding: 1px;
    background-clip:content-box;
    border: 1px solid black;
    border-radius: 0;
    margin: 0;
    background-color: white;
}

.cuiSubLabel input:checked {
    background-color: #555755;
}

.serviceWork {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

