#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 28px 3px rgb(0 0 0 / 53%);
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 1280px;
  gap:3px;
}

.workspace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(./assets/background1.png);
  gap: 50px;
  max-width: 1285px;
  height: 48rem;
  max-height: 48rem;
  padding-top: .5rem;
  padding-left: .5rem;
}

.mainProgram {
  font-family: standard2;
    background-color: #000099;
    min-width: 720px;
    max-height: 27rem;
    min-height: 27rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, 
                -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 
                0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, 
                -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 
                0 4px black, 2px -4px white, 4px -4px black;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

#img-mapper {
  height: 50rem;
}
