:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  margin: 0;
}

@font-face {
  font-family: standard;
  src: local('MxPlus_IBM_VGA8x16'),
  url('./assets/MxPlus_IBM_VGA8x16.ttf');
}

@font-face {
  font-family: standard2;
  src: local('Ac4372y'),
  url('./assets/Ac4372y.ttf');
}